:root {
    --chat--color-primary: #33475b;
    --chat--color-primary-shade-50: var(--chat--color-primary);
    --chat--color-primary-shade-100: var(--chat--color-primary);
    --chat--color-secondary: var(--chat--color-primary);
    --chat--color-secondary-shade-50: var(--chat--color-primary);
    --chat--color-white: #ffffff;
    --chat--color-light: #f2f4f8;
    --chat--color-light-shade-50: #e6e9f1;
    --chat--color-light-shade-100: #c2c5cc;
    --chat--color-medium: #d2d4d9;
    --chat--color-dark: var(--chat--color-primary);
    --chat--color-disabled: #777980;
    --chat--color-typing: #404040;

    --chat--spacing: 1rem;
    --chat--border-radius: 20px;
    --chat--transition-duration: 0.15s;

    --chat--window--width: 400px;
    --chat--window--height: 600px;

    --chat--header-height: 50px;
    --chat--header--padding: var(--chat--spacing);
    --chat--header--background: var(--chat--color-dark);
    --chat--header--color: var(--chat--color-light);
    --chat--header--border-top: none;
    --chat--header--border-bottom: none;
    --chat--header--border-bottom: none;
    --chat--header--border-bottom: none;
    --chat--heading--font-size: 2em;
    --chat--header--color: var(--chat--color-light);
    --chat--subtitle--font-size: inherit;
    --chat--subtitle--line-height: 1.8;

    --chat--textarea--height: auto;

    --chat--message--font-size: 1rem;
    --chat--message--padding: var(--chat--spacing);
    --chat--message--border-radius: var(--chat--border-radius);
    --chat--message-line-height: 1.8;
    --chat--message--bot--background: var(--chat--color-white);
    --chat--message--bot--color: var(--chat--color-dark);
    --chat--message--bot--border: none;
    --chat--message--user--background: var(--chat--color-secondary);
    --chat--message--user--color: var(--chat--color-white);
    --chat--message--user--border: none;
    --chat--message--pre--background: rgba(0, 0, 0, 0.05);

    --chat--toggle--background: var(--chat--color-primary);
    --chat--toggle--hover--background: var(--chat--color-primary-shade-50);
    --chat--toggle--active--background: var(--chat--color-primary-shade-100);
    --chat--toggle--color: var(--chat--color-white);
    --chat--toggle--size: 64px;
}

body {
    background: linear-gradient(135deg, #f8f6ff, #b4b0c3);
    height: 98vh;
}

.chat-message.chat-message-from-user {
    color: var(--chat--color-light) !important;
}

.chat-message.chat-message-from-bot {
    color: var(--chat--color-disabled) !important;
}

.chat-messages-list {
    margin-top: 0px;
}

.chat-message-markdown {
    font-size: 100%;
}

.chat-input,
.chat-layout .chat-footer,
.chat-layout .chat-footer div,
.chat-layout .chat-body,
.chat-input-send-button[data-v-2a7fb1c3]:disabled,
.chat-layout .chat-inputs textarea[data-v-2a7fb1c3] {
    background: transparent !important;
}

.chat-input-send-button[data-v-2a7fb1c3] svg {
    height: 20px;
}

.chat-input-send-button[data-v-2a7fb1c3]:hover:not(:disabled) {
    background: var(--chat--color-primary);
    transform: rotate(-45deg);
}

.chat-input-send-button[data-v-2a7fb1c3],
.chat-input-send-button[data-v-2a7fb1c3]:hover:not(:disabled) {
    background: var(--chat--color-primary);
    border-radius: 50%;
    color: var(--chat--color-light);
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.chat-layout {
    background: var(--chat--color-light);
}

.chat-window-wrapper .chat-window .chat-layout {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 40px;
    border-radius: var(--chat--border-radius);
}
.chat-window-wrapper .chat-window {
    overflow: visible;
    border: none;
}

.chat-message {
    box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 30px;
    margin: 30px 0;
}

.chat-layout .chat-header {
    box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 30px;
}

.chat-layout .chat-footer {
    box-shadow: rgba(0, 0, 0, 0.1) -5px -5px 30px;
    border-top: 0px solid;
}

.chat-inputs textarea[data-v-2a7fb1c3] {
    padding: 1rem;
}

::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(
        135deg,
        var(--chat--color-primary),
        var(--chat--color-primary)
    );
}

.chat-window-wrapper .chat-window-toggle {
    box-shadow: 4px 4px 10px #545454, -4px -4px 10px #ffffff;
}
